# Pandas Tutorial 1: What is Pandas

In the last tutorial, we saw how hard it is to extract insights from data without a tool like Pandas.

Pandas is a powerful Python library that simplifies working with data, making it essential for data science. When paired with Python, it streamlines data analysis.

#### Topics covered:
* **Intro to Data Science and Data Analytics**
* **What is Pandas?**
* **Basic Pandas Functions**

This tutorial lays the groundwork for using Pandas to tackle real-world data challenges efficiently.

### What is Data Science?

Data Science involves extracting insights from large datasets using methods like:
* data collection
* cleaning
* analysis
* visualization
* interpretation

It helps answer questions or solve problems based on the data.

### What is Pandas?

Pandas is a Python library for data manipulation and analysis. It offers structures like **DataFrames** and **Series** that make handling structured data easier. Pandas is essential in data science for cleaning, transforming, and exploring data efficiently.

### Pandas Features
* **DataFrames**: Two-dimensional labeled data structures, like tables or spreadsheets.
* **Series**: One-dimensional labeled arrays, similar to a column in a DataFrame
* **Built-in Functions**: 
     - **`groupby`** - Groups data by columns for aggregation.
     - **`merge`** - Combines DataFrames based on common columns, like SQL joins.
     - **`concat`** - Concatenates DataFrames or Series along a specific axis.
     - **`pivot`** - Reshapes data by restructuring tables based on column values.

**Explore the following using Pandas** (Load data from the CSV file `nyc_weather`):
- **Maximum Temperature:** Find the highest temperature recorded in New York during January.
- **Rainy Days:** Identify the days it rained.
- **Average Wind Speed:** Calculate the average wind speed for the month.

To analyze this data, load the dataset into a Pandas DataFrame and use the relevant Pandas functions.

## Data Munging - `fillna()`

Data munging, or data wrangling, involves cleaning and preparing messy data for analysis. This step is crucial for ensuring data accuracy. One common technique is **filling missing values**, which can be done with the `.fillna(0)` method:

```python
df.fillna(0, inplace=True) # Replace missing values with `0`
```

This code replaces all missing values in the DataFrame with zeros to prevent errors during analysis.

In [1]:
import pandas as pd
df = pd.read_csv('C:\\Users\\Vaishob\\PycharmProjects\\pandas\\nyc_weather.csv')
df

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,1/1/2016,38,23,52,30.03,10,8.0,0,5,NaN,281
1,1/2/2016,36,18,46,30.02,10,7.0,0,3,NaN,275
2,1/3/2016,40,21,47,29.86,10,8.0,0,1,NaN,277
3,1/4/2016,25,9,44,30.05,10,9.0,0,3,NaN,345
4,1/5/2016,20,-3,41,30.57,10,5.0,0,0,NaN,333
5,1/6/2016,33,4,35,30.50,10,4.0,0,0,NaN,259
6,1/7/2016,39,11,33,30.28,10,2.0,0,3,NaN,293
7,1/8/2016,39,29,64,30.20,10,4.0,0,8,NaN,79
8,1/9/2016,44,38,77,30.16,9,8.0,T,8,Rain,76
9,1/10/2016,50,46,71,29.59,4,NaN,1.8,7,Rain,109
10,1/11/2016,33,8,37,29.92,10,NaN,0,1,NaN,289
11,1/12/2016,35,15,53,29.85,10,6.0,T,4,NaN,235
12,1/13/2016,26,4,42,29.94,10,10.0,0,0,NaN,284
13,1/14/2016,30,12,47,29.95,10,5.0,T,7,NaN,266
14,1/15/2016,43,31,62,29.82,9,5.0,T,2,NaN,101
15,1/16/2016,47,37,70,29.52,8,7.0,0.24,7,Rain,340
16,1/17/2016,36,23,66,29.78,8,6.0,0.05,6,Fog-Snow,345
17,1/18/2016,25,6,53,29.83,9,12.0,T,2,Snow,293
18,1/19/2016,22,3,42,30.03,10,11.0,0,1,NaN,293
19,1/20/2016,32,15,49,30.13,10,6.0,0,2,NaN,302
20,1/21/2016,31,11,45,30.15,10,6.0,0,1,NaN,312
21,1/22/2016,26,6,41,30.21,9,NaN,0.01,3,Snow,34
22,1/23/2016,26,21,78,29.77,1,16.0,2.31,8,Fog-Snow,42
23,1/24/2016,28,11,53,29.92,8,6.0,T,3,Snow,327
24,1/25/2016,34,18,54,30.25,10,3.0,0,2,NaN,286
25,1/26/2016,43,29,56,30.03,10,7.0,0,2,NaN,244
26,1/27/2016,41,22,45,30.03,10,7.0,T,3,Rain,311
27,1/28/2016,37,20,51,29.90,10,5.0,0,1,NaN,234
28,1/29/2016,36,21,50,29.58,10,8.0,0,4,NaN,298
29,1/30/2016,34,16,46,30.01,10,7.0,0,0,NaN,257
30,1/31/2016,46,28,52,29.90,10,5.0,0,0,NaN,241

### Finding the Maximum Temperature - `max()`

To find the highest temperature recorded in New York during January, you can use Pandas `max()`:

In [2]:
# What is the max temp
df['Temperature'].max()

50

The max temperature in New York during January was **50 degrees**.

### Dates It Rained - `df[condition]`

To find the dates when it rained in New York during January, you can use **Boolean indexing**: 

```python
df[df['Events']=='Rain']['EST']
```

**Note:** You first apply the condition to filter rows, ie `[df['Events']=='Rain']` and then select the desired column.

In [4]:
# Dates on which it rained
df[df['Events']=='Rain']['EST']

8      1/9/2016
9     1/10/2016
15    1/16/2016
26    1/27/2016
Name: EST, dtype: object

We observe that it rained on **January 9th**, **10th**, **16th** and **27th**.

### Calculating Average Wind Speed - `mean()`

To calculate January's average wind speed:
* Fill missing values in the DataFrame.
* Compute the mean of the `WindSpeedMPH` column.

In [2]:
# What is the avg wind speed
df.fillna(0, inplace=True)
df['WindSpeedMPH'].mean()

6.225806451612903

The average wind speed in New York during January was about **6.225 MPH**.

## Data Science Process

Data science typically includes several key stages:
* **Data Collection:** Gathering raw data from various sources.
* **Data Cleaning:** Removing inconsistencies, filling missing values, and correcting errors. 
* **Data Exploration:** Identifying patterns, trends, and anomalies in the data. 
* **Data Modelling:** Applying statistical or machine learning models for predictions or decisions.
* **Data Visualization:** Creating charts to present insights.
* **Interpretation:** Drawing conclusions to inform data-driven decisions.

### Pandas Features
* **DataFrames:** Two-dimensional data structures similar to database tables or Excel sheets.
* **Series:** One-dimensional labeled arrays, like a single columns in a DataFrame.
* **Built-in Functions:** Useful for data manipulation, such as:
    * `groupby`
    * `merge`
    * `concat`
    * `pivot`