# Pandas Tutorial 1: What is Pandas

If you are working in data science, it is essential that you are familiar with the Python Pandas Module. Pandas, combined with Python, makes Data Science and Analytics both straightforward and powerful. 

#### Topics covered:
* **Introduction to Data Science and Data Analytics**
* **What is Pandas?**
* **A Walkthrough of Basic Pandas Functionality**
* **Installing Pandas**

### What is Data Science?

Data Science, or data analytics, involves the extraction of insights from large and complex datasets through various analytical methods. This process often includes:
* data collection
* cleaning
* analysis
* visualization
* interpretation

to answer specific questions or solve problems related to the data.

### What is Pandas?

Pandas is a powerful and versatile Python library specifically designed for data manipulation and analysis. It provides data structures like **DataFrames** and **Series**, making it easy to handle and analyze structured data. Pandas is widely used in data science for tasks such as data cleaning, transformation, and exploration, making the data analysis process more efficient and effective.

### Pandas Features
* **DataFrames**: Two-dimensional labeled data structures, similar to tables in a relational database  or Excel spreadsheet.
* **Series**: One-dimensional labeled arrays, which can be thought of as a single column in a DataFrame.
* **Built-in Functions**: Functions for data manipulation like:
     - **`groupby`**
     - **`merge`**
     - **`concat`**
     - **`pivot`**

**Explore the following using Pandas** (Load data from the CSV file `nyc_weather`):
- **Maximum Temperature:** What was the highest temperature recorded in New York during January?
- **Rainy Days:** On which days did it rain?
- **Average Wind Speed:** What was the average wind speed throughout the month?

To work with this data, you would typically load the dataset into a Panas DataFrame and use Pandas functions to analyze it

**Example**:

```python
import pandas as pd

df = pd.read_csv('nyc_weather.csv') # Load data from CSV file

max_temp = df['Temperature'].max() # Find maximum temperature

rainy_days = df[df['Precipitation'] > 0]['Date'] # Find days it rained

average_wind_speed = df['Wind Speed'].mean() # Calculate average wind speed

```

## Data Munging and Data Wrangling

The process of cleaning, transforming, and preparing messy or unstructured data for analysis is known as **data munging** or **data wrangling**. This process is crucial to ensure the accuracy and quality of your analysis. One common technique in data munging is ***filling in missing values***, which can be done using the following code:

```python
df.fillna(0, inplace=True) # Replace missing values with `0`
```

This command replaces all missing values in the DataFrame with zeros, which can help prevent errors in your analysis.

In [1]:
import pandas as pd
df = pd.read_csv('C:\\Users\\Vaishob\\PycharmProjects\\pandas\\nyc_weather.csv')
df

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,1/1/2016,38,23,52,30.03,10,8.0,0,5,NaN,281
1,1/2/2016,36,18,46,30.02,10,7.0,0,3,NaN,275
2,1/3/2016,40,21,47,29.86,10,8.0,0,1,NaN,277
3,1/4/2016,25,9,44,30.05,10,9.0,0,3,NaN,345
4,1/5/2016,20,-3,41,30.57,10,5.0,0,0,NaN,333
5,1/6/2016,33,4,35,30.50,10,4.0,0,0,NaN,259
6,1/7/2016,39,11,33,30.28,10,2.0,0,3,NaN,293
7,1/8/2016,39,29,64,30.20,10,4.0,0,8,NaN,79
8,1/9/2016,44,38,77,30.16,9,8.0,T,8,Rain,76
9,1/10/2016,50,46,71,29.59,4,NaN,1.8,7,Rain,109
10,1/11/2016,33,8,37,29.92,10,NaN,0,1,NaN,289
11,1/12/2016,35,15,53,29.85,10,6.0,T,4,NaN,235
12,1/13/2016,26,4,42,29.94,10,10.0,0,0,NaN,284
13,1/14/2016,30,12,47,29.95,10,5.0,T,7,NaN,266
14,1/15/2016,43,31,62,29.82,9,5.0,T,2,NaN,101
15,1/16/2016,47,37,70,29.52,8,7.0,0.24,7,Rain,340
16,1/17/2016,36,23,66,29.78,8,6.0,0.05,6,Fog-Snow,345
17,1/18/2016,25,6,53,29.83,9,12.0,T,2,Snow,293
18,1/19/2016,22,3,42,30.03,10,11.0,0,1,NaN,293
19,1/20/2016,32,15,49,30.13,10,6.0,0,2,NaN,302
20,1/21/2016,31,11,45,30.15,10,6.0,0,1,NaN,312
21,1/22/2016,26,6,41,30.21,9,NaN,0.01,3,Snow,34
22,1/23/2016,26,21,78,29.77,1,16.0,2.31,8,Fog-Snow,42
23,1/24/2016,28,11,53,29.92,8,6.0,T,3,Snow,327
24,1/25/2016,34,18,54,30.25,10,3.0,0,2,NaN,286
25,1/26/2016,43,29,56,30.03,10,7.0,0,2,NaN,244
26,1/27/2016,41,22,45,30.03,10,7.0,T,3,Rain,311
27,1/28/2016,37,20,51,29.90,10,5.0,0,1,NaN,234
28,1/29/2016,36,21,50,29.58,10,8.0,0,4,NaN,298
29,1/30/2016,34,16,46,30.01,10,7.0,0,0,NaN,257
30,1/31/2016,46,28,52,29.90,10,5.0,0,0,NaN,241

### Finding the Maximum Temperature

To determine the maximum temperature recorded in New York during January, you can use the **`max()`** method:

In [2]:
# What is the max temp
df['Temperature'].max()

50

This indicates that the maximum temperature in New York during the month of January was **50 degrees**.

### Dates on Which It Rained

To find out the dates when it rained in New York during January, you can query the DataFrame like this:
```python
df[xxx][*CONDITION*]
```

In [3]:
# Dates on which it rained
df['EST'][df['Events']=='Rain']

8      1/9/2016
9     1/10/2016
15    1/16/2016
26    1/27/2016
Name: EST, dtype: object

This indicates that it rained on **January 9th**, **10th**, **16th** and **27th**.

### Calculating the Average Wind Speed

To calculate the average wind speed during January, you can use the following steps:
- First, fill any missing values in the DataFrame to ensure that they do not affect the calculation. 
- Then, compute the mean of the **`WindSpeedMPH`** column:

In [2]:
# What is the avg wind speed
df.fillna(0, inplace=True)
df['WindSpeedMPH'].mean()

6.225806451612903

This indicates that the average wind speed in New York during January was approximately **6.225 MPH**.

## Additional Details

### Data Science Process
In practice, data science involves multiple stages, including:
* **Data Collection**: Gathering raw data from various sources
* **Data Cleaning**: Removing inconsistencies, missing values, and errors.
* **Data Exploration**: Identifying patterns, trends, and anomalies.
* **Data Modeling**: Applying statistical or machine learning models to make predicitons or decisions.
* **Data Visualization**: Creating graphs and charts to communicate insights.
* **Interpretation**: Drawing conclusions and making data-driven decisions

### Pandas Features
* **DataFrames**: Two-dimensional labeled data structures, similar to tables in a relational database  or Excel spreadsheet.
* **Series**: One-dimensional labeled arrays, which can be thought of as a single column in a DataFrame.
* **Built-in Functions**: Functions for data manipulation like:
     - **`groupby`**
     - **`merge`**
     - **`concat`**
     - **`pivot`**